@import "tailwindcss";

:root {
    --color-primary: #829fbd;
    --color-background: #091525;
    --color-surface: #0f1b35;
    --color-card: #222e3e;

    --color-success: #3d9970;
    --color-warning: #e6a817;
    --color-danger: #c0392b;

    --color-text-primary: #f0f4f8;
    --color-text-secondary: #829fbd;
    --color-text-muted: #4a6080;

    --color-border: #222e3e;
}